html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px Verdana, sans-serif;
  height: 100%;
}

#track {
  $width: 900px;
  $height: 675px;

  position: relative;
  width: $width;
  height: $height;
  margin: 20px;
  //left: -($width / 2);
  //top: -($height / 2);
  //-webkit-transform: translate(50%, 50%);
  background: url(../assets/track_boundary.svg) no-repeat center;

  // start/finish line
  &:after {
    $bgc: rgba(0, 0, 0, .75);
    $size: 21px;

    content: "";
    width: $size;
    height: $size;
    background: $bgc;
    position: absolute;
    left: 490px;
    top: 39px;
    clip: rect(0 $size*2 189px 0);
    box-shadow:
      $size $size 0 $bgc,
      0 $size*2 0 $bgc,
      $size $size*3 0 $bgc,
      0 $size*4 0 $bgc,
      $size $size*5 0 $bgc,
      0 $size*6 0 $bgc,
      $size $size*7 0 $bgc,
      0 $size*8 0 $bgc,
      $size $size*9 0 $bgc,
      0 $size*10 0 $bgc;
  }
}

#qrCode {
  position: absolute;
  top: 0;
  right: 65px;
  margin: 20px;
  border: 3px dotted black;
  padding: 10px;
}

.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

$carColors: gray, royalblue, red, green, gold;
$racer: 1;
$racers: 5;
@while $racer <= $racers {
  .car#{$racer} {
    background-image: url('../assets/car#{$racer}.png');
  }
  .racer#{$racer} {
    color: nth($carColors, $racer);
  }
  $racer: $racer + 1;
}

#racers {
  $minHeight: 100px;

  position: absolute;
  right: 10px;
  top: 180px;
  margin: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 260px;
  //min-height: $minHeight;
  background: rgba(255, 255, 255, .75);

  .racer {
    counter-increment: list;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:before {
      content: counter(list, decimal) ".";
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .wheel {
      background: url("../assets/steering_wheel.png") no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    .name, .speed {
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .speed {
      text-align: right;
      &:before {
        content: '(';
        font-weight: normal;
      }
      &:after {
        content: ' km/h)';
        font-weight: normal;
      }
      margin-left: 10px;
      color: black;
      font-weight: bold;
    }
  }

  &:empty {
    $color: red;
    border-color: $color;

    &:after {
      content: 'No racers! Scan the code and be first! ;)';
      display: block;
      height: 100%;
      text-align: center;
      color: $color;
      font-weight: bold;
    }
  }
}