html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px Verdana, sans-serif;
}

#track {
  $width: 900px;
  $height: 675px;

  position: relative;
  width: $width;
  height: $height;
  //left: - floor($width / 2);
  //top: - floor($width / 2);
  //margin: 50%;
  margin: auto;
  background: url(../assets/track_boundary.svg) no-repeat center;
  //-webkit-transform: translate(50%, 50%);
}

#qrCode {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

$carColors: gray, royalblue, red, green, gold;
$racer: 1;
$racers: 5;
@while $racer <= $racers {
  .car#{$racer} {
    background-image: url('../assets/car#{$racer}.png');
  }
  .racer#{$racer} {
    color: nth($carColors, $racer);
  }
  $racer: $racer + 1;
}

#racers {
  $minHeight: 100px;

  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  min-height: $minHeight;
  background: white;
  white-space: nowrap;

  .racer {
    > * {
      display: inline-block;
      vertical-align: middle;
    }
    .wheel {
      background: url("../assets/steering_wheel.png") no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  &:empty {
    $color: red;
    border-color: $color;

    &:after {
      content: 'No racers! Be first! ;)';
      display: block;
      height: 100%;
      text-align: center;
      line-height: $minHeight;
      color: $color;
    }
  }
}