html, body {
  margin: 0;
  padding: 0;
  font: 16px Verdana, sans-serif;
  background: white; }

* {
  user-select: none;
  -webkit-user-select: none; }

#speed_chart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -125px; }
  #speed_chart svg text[text-anchor=start], #speed_chart svg text[text-anchor=end] {
    display: none; }

#pedal_gas,
#pedal_brake {
  position: absolute;
  top: 50%;
  text-align: center;
  font-weight: bold;
  margin: 0 50px;
  -webkit-transform: translateY(-50%); }
  #pedal_gas:after,
  #pedal_brake:after {
    content: url("../assets/pedal_gas.png"); }

#pedal_gas {
  left: 0; }

#pedal_brake {
  right: 0; }
