body {
    margin: 0;
}

#track {
    width: 900px;
    height: 675px;
    margin: auto;
}

#qrCode {
    position: absolute;
    top: 5px;
    right: 5px;
}

.car {
    position: absolute;
    width: 64px;
    height: 37px;
    background: url(../assets/car.png);
}