html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px Verdana, sans-serif;
  height: 100%; }

#track {
  position: relative;
  width: 900px;
  height: 675px;
  margin: 0px;
  background: url(../assets/track.png) no-repeat center;
  background-size: cover; }

#qrCode {
  position: absolute;
  top: 0;
  right: 65px;
  margin: 20px;
  border: 3px dotted black;
  padding: 10px;
  z-index: 100; }

.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat; }

.car1 {
  background-image: url("../assets/car1.png"); }

.racer1 {
  color: gray; }

.car2 {
  background-image: url("../assets/car2.png"); }

.racer2 {
  color: royalblue; }

.car3 {
  background-image: url("../assets/car3.png"); }

.racer3 {
  color: red; }

.car4 {
  background-image: url("../assets/car4.png"); }

.racer4 {
  color: green; }

.car5 {
  background-image: url("../assets/car5.png"); }

.racer5 {
  color: goldenrod; }

#racers {
  position: absolute;
  right: 10px;
  top: 180px;
  margin: 15px;
  border: 3px double gray;
  border-radius: 10px;
  padding: 10px;
  width: 260px;
  background: rgba(255, 255, 255, 0.95); }
  #racers .racer {
    counter-increment: list; }
    #racers .racer:not(:last-child) {
      margin-bottom: 10px; }
    #racers .racer:before {
      content: counter(list, decimal) ".";
      display: inline-block;
      vertical-align: middle;
      font-weight: bold; }
    #racers .racer > * {
      display: inline-block;
      vertical-align: middle; }
    #racers .racer .wheel {
      background: url("../assets/steering_wheel.png") no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      margin: 0 5px; }
    #racers .racer .name, #racers .racer .speed {
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    #racers .racer .speed {
      text-align: right;
      color: black;
      font-weight: bold; }
      #racers .racer .speed:before {
        content: '(';
        font-weight: normal; }
      #racers .racer .speed:after {
        content: ' km/h)';
        font-weight: normal; }
  #racers:empty {
    border-color: red; }
    #racers:empty:after {
      content: 'No racers! Hurry up, scan the code above! ;)';
      display: block;
      height: 100%;
      text-align: center;
      color: red;
      font-weight: bold; }
