html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px Verdana, sans-serif; }

#track {
  position: relative;
  width: 900px;
  height: 675px;
  margin: auto;
  background: url(../assets/track_boundary.svg) no-repeat center; }

#qrCode {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px; }

.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat; }

.car1 {
  background-image: url("../assets/car1.png"); }

.racer1 {
  color: gray; }

.car2 {
  background-image: url("../assets/car2.png"); }

.racer2 {
  color: royalblue; }

.car3 {
  background-image: url("../assets/car3.png"); }

.racer3 {
  color: red; }

.car4 {
  background-image: url("../assets/car4.png"); }

.racer4 {
  color: green; }

.car5 {
  background-image: url("../assets/car5.png"); }

.racer5 {
  color: yellow; }

#racers {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  min-height: 100px;
  background: white;
  white-space: nowrap; }
  #racers .racer > * {
    display: inline-block;
    vertical-align: middle; }
  #racers .racer .wheel {
    background: url("../assets/steering_wheel.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px; }
  #racers .racer .name {
    font-weight: bold; }
  #racers:empty {
    border-color: red; }
    #racers:empty:after {
      content: 'No racers! Be first! ;)';
      display: block;
      height: 100%;
      text-align: center;
      line-height: 100px;
      color: red; }
